

/* google fonts */


  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  

*{
    margin: 0;
    padding: 0;
    color: #0E0E0E; 
}







/* some class which used a lot of time in html , this class style start here */

.all-page-title{
    font-weight: bold;
    font-size: 40px;
}

.all-page-sub-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
    color: #1d1c1c;
}

.all-description{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #292929;
}


.btn{
    font-weight: 600px;
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #006A50;
    border: none;
}
/* some class which used a lot of time in html, this class style end here */






/* body start here */

body{
    max-width: 1280px;
    margin: 0 160px 50px 160px;
}

/* navbar start here */

nav ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.nav-title{
    margin-top: 31px;
    font-weight: bold;
    font-size: 32px;
}


.nav-btn{
    font-weight: 600px;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    margin-top: 24px;       
    border-radius: 8px;
    border: 1px solid #006A50;
}

.nav-container{
    display: flex;
    gap: 64px;
    margin: 50px 0 80px 0;
    border-radius: 24px;
    background-color: #C6E4D6;
}

.nav-sub-container{
    margin: 117px 0 117px 60px;        
}

.nav-sub-title{
    font-weight: 500px;
    font-size: 24px;
    margin-bottom: 16px;
    opacity: 0.4;
}


.nav-description{
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 24px;
}

.nav-btn-2{
    font-weight: 600px;
    font-size: 18px;
    padding: 17px 34px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #006A50;
    border: none;
}

#shaheed-minar{
    margin: 80px 60px 80px 0;
}


/* navbar end here */







/* main section start here */


/* pillars section start here */

.pillars-container{
    margin-bottom: 80px;
}

.pillars-container h2{
    margin-bottom: 32px;
}

.pillars-all-card{
    display: flex;
    gap: 24px;
}

.pillars-card{
    padding: 24px;
    border: 1px solid #ebdcdc;
    border-radius: 16px;
}


.card-icon{
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}

/* pillars section end here */




/* vision section start here */

.vision-container{
    margin-bottom: 80px;
}

.p-position{
    margin: 24px 0 32px 0;
}


.vision-all-card{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.vision-card{
    padding: 32px;
    background-color: #d7deeb;
    border-radius: 16px;
}

.btn-1{
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #5490F5;
    margin-top: 24px;
    border: none;
}

.btn-2{
    background-color: #09A15C;
}

.btn-3{
    background-color: #FFC239;
}


.vision-bio{
    padding: 24px 24px 48px 24px;
    border: 1px solid #eee3e3;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-origin: content-box;
}

.vision-bio-description{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #1f1e1e;
}
/* vision section end here */






/* opinion section start here */

.opinion-container{
    margin-bottom: 80px;
}

.opinion-container h2{
    margin-bottom: 24px;
}

.opinion-table{
    padding: 32px;
    background-color: #f7f1f1;
    border-radius: 16px;
}

table{
    border-collapse: collapse;
    max-width: 1216px;
}


table, tr, th, td{
    border: 1px solid rgb(199, 195, 195);
}

.table-heading{
    display: flex;
    justify-content: space-between;
}



.opinion-title{
    font-weight: 600px;
    font-size: 20px;
    margin: 24px 0 24px 0;
}



.opinion-description{
    font-weight: 600px;
    font-size: 16px;
    padding: 37px 250px 37px 24px;
}

.opinion-option{
    font-weight: 500px;
    font-size: 16px;
    margin: 10px;
    padding: 5px 6px;
    border: 1px solid rgb(175, 172, 172);
    border-radius: 4px;
    background-color: #C6E4D6;
   
}


/* opinion section end here */







/* news section start here */

.news-container{
    margin-bottom: 80px;
}

.news-container > p{
    margin: 24px 0 32px 0;
}

.news-common-style{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #2b2a2a;
}


.news-sub-container{
    display: flex;
    gap: 32px;
    padding: 48px;
    margin-bottom: 24px;
    background-color: #f1ecec;
    border-radius: 24px;

}

.news-sub-container > img{
    border-radius: 24px;
}

.news-title{
    font-weight: bold;
    font-size: 32px;
    color: #222121;
    margin-bottom: 12px;
}

.news-sub-container-details > img{
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}

.news-sub-container-details .position{
    margin: 12px 0 32px 0;
}

/* news section end here */









/* main section end here */

/* body end here */